:root {
  --color-primary: #34c94b;
  --color-black: #121212;
}
body {
  background-color: #121212;
}

.accordianContainer {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
